/** global variables **/
/** functions **/
/** fonts **/
@font-face {
  font-family: ProximaNova-Bold;
  src: url("../fonts/ProximaNova-Bold.otf");
}
@font-face {
  font-family: ProximaNova-ExtraBold;
  src: url("../fonts/ProximaNova-Extrabold.otf");
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url("../fonts/ProximaNova-Reg.otf");
}
body {
  overflow-x: hidden;
  margin: 0;
}
.applyButton {
  margin-top: 24px;
  width: 100%;
  background-color: #FA6E3D;
  font-family: ProximaNova-Bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  padding: 15px;
  color: #ffffff;
}
@media only screen and (max-width: 479px) {
  .applyButton {
    display: none;
  }
}
.mobileApplyButton {
  margin-top: 24px;
  width: 100%;
  background-color: #FA6E3D;
  font-family: ProximaNova-Bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  padding: 15px;
  color: #ffffff;
  display: none;
}
@media only screen and (max-width: 479px) {
  .mobileApplyButton {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .mobileApplyButton {
    display: block;
  }
}
.container {
  width: 1126px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 479px) {
  .container {
    width: 100vw;
  }
}
header {
  background-color: #23123A;
  padding-top: 55px;
}
nav {
  line-height: 45px;
  height: 45px;
}
nav .nav-item {
  font-family: ProximaNova-Bold;
  width: 33.33%;
  font-size: 1.3vw;
  text-align: center;
  vertical-align: middle;
  float: left;
  background-color: #ffffff;
  outline: 1px solid #F2F4F4;
}
@media only screen and (max-width: 479px) {
  nav .nav-item {
    font-size: 3vw;
  }
}
.banner {
  background: url("../images/banner.png");
  height: 536px;
  background-size: cover;
}
@media only screen and (max-width: 479px) {
  .banner {
    background: url("../images/mobileBg.png");
    height: 412px;
    background-position: 100% 100%;
    background-size: cover;
  }
}
.banner .title {
  padding-top: 61px;
  font-family: ProximaNova-ExtraBold;
  font-size: 7.3vw;
  margin-left: 52px;
  color: #ffffff;
}
@media only screen and (max-width: 479px) {
  .banner .title {
    padding-top: 45px;
    margin-left: 30px;
    font-size: 17vw;
  }
}
.banner .title #dot {
  font-size: 70px;
  margin-top: 18px;
  position: absolute;
  margin-left: 24px;
}
@media only screen and (max-width: 479px) {
  .banner .title #dot {
    display: none;
  }
}
main {
  background-color: #F1F5F8;
}
main .container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 36px;
}
@media only screen and (max-width: 479px) {
  main .container {
    width: 100vw;
    padding-top: 35px;
  }
}
main .container .title {
  font-size: 30px;
  color: #373737;
  font-family: ProximaNova-Bold;
  padding-bottom: 36px;
}
@media only screen and (max-width: 479px) {
  main .container .title {
    margin-left: 15px;
    font-size: 6vw;
  }
}
main .container .card {
  background-color: #ffffff;
  padding: 50px;
  overflow: auto;
  margin-bottom: 19px;
}
@media only screen and (max-width: 479px) {
  main .container .card {
    padding: 15px;
  }
}
main .container .card .firstRow {
  margin-bottom: 30px;
}
@media only screen and (max-width: 479px) {
  main .container .card .firstRow {
    margin-bottom: 15px;
  }
}
main .container .card .firstRow .firstCol {
  width: 77%;
  font-size: 15pt;
  color: #373737;
  font-family: ProximaNova-Regular;
  float: left;
}
@media only screen and (max-width: 479px) {
  main .container .card .firstRow .firstCol {
    width: 100%;
    float: none;
  }
}
main .container .card .firstRow .secondCol {
  text-align: right;
  font-size: 11pt;
  margin-right: 15px;
  color: #373737;
  font-family: ProximaNova-Regular;
}
main .container .card .firstRow .secondCol .stars {
  float: left;
  color: #59D8D1;
}
@media only screen and (max-width: 479px) {
  main .container .card .firstRow .secondCol {
    display: none;
  }
}
main .container .card .secondRow {
  overflow: auto;
  margin-bottom: 25px;
}
main .container .card .secondRow .firstCol {
  width: 31.33%;
  float: left;
}
@media only screen and (max-width: 479px) {
  main .container .card .secondRow .firstCol {
    width: 100%;
  }
}
main .container .card .secondRow .firstCol .cc {
  float: left;
  width: 62%;
}
main .container .card .secondRow .firstCol .content {
  text-align: center;
  font-family: ProximaNova-Regular;
  font-size: 15px;
}
main .container .card .secondRow .firstCol .content button {
  margin-top: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #59D8D1;
  color: #ffffff;
  font-family: ProximaNova-Bold;
  font-size: 14px;
  border: none;
  width: 100px;
  padding: 10px;
}
@media only screen and (max-width: 479px) {
  main .container .card .secondRow .firstCol .content button {
    display: block;
  }
}
main .container .card .secondRow .secondCol {
  float: left;
  width: 68%;
  font-family: ProximaNova-Regular;
}
@media only screen and (max-width: 479px) {
  main .container .card .secondRow .secondCol {
    width: 100%;
  }
  main .container .card .secondRow .secondCol ul {
    padding-left: 0px;
  }
}
main .container .card .secondRow .secondCol li {
  margin: 15px;
  margin-right: 0px;
  font-size: 13pt;
}
main .container .card hr {
  float: none;
}
a {
  color: #1194F6;
  text-decoration: none;
  font-family: ProximaNova-Regular;
}
