/** global variables **/
@navHeight: 45px;
@smartphones: ~"only screen and (max-width: 479px)";
@spaces: 15px;

/** functions **/
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}



/** fonts **/
@font-face {
  font-family:ProximaNova-Bold;
  src: url("../fonts/ProximaNova-Bold.otf");
}
@font-face {
  font-family:ProximaNova-ExtraBold;
  src: url("../fonts/ProximaNova-Extrabold.otf");
}
@font-face {
  font-family:ProximaNova-Regular;
  src: url("../fonts/ProximaNova-Reg.otf");
}

body {
  overflow-x: hidden;
  margin:0;
}
.applyButton {
  margin-top: 24px;
  width: 100%;
  background-color: #FA6E3D;
  font-family: ProximaNova-Bold;
  .border-radius(4px);
  border: none;
  padding: @spaces;
  color: #ffffff;
  @media @smartphones {
    display: none;
  }
}
.mobileApplyButton {
  .applyButton();
  display: none;
  @media @smartphones {
    display: block;
  }
}
.container {
  width: 1126px;
  margin-left: auto;
  margin-right: auto;
  @media @smartphones {
    width: 100vw;
  }
}
header {
  background-color: #23123A;
  padding-top: 55px;
}
nav {
    line-height: @navHeight;
    height: @navHeight;
  .nav-item {
    @media @smartphones {
      font-size: 3vw;
    }
    font-family: ProximaNova-Bold;
    width: 33.33%;
    font-size: 1.3vw;
    text-align: center;
    vertical-align: middle;
    float: left;
    background-color: #ffffff;
    outline: 1px solid #F2F4F4;
  }
}
.banner {
  background: url("../images/banner.png");
  height: 536px;
  background-size: cover;
  @media @smartphones {
    background: url("../images/mobileBg.png");
    height: 412px;
    background-position: 100% 100%;
    background-size: cover;
  }
  .title {
    @media @smartphones {
      padding-top: 45px;
      margin-left: 30px;
      font-size: 17vw;
    }
    padding-top: 61px;
    font-family: ProximaNova-ExtraBold;
    font-size: 7.3vw;
    margin-left: 52px;
    color: #ffffff;
    #dot {
      font-size: 70px;
      margin-top: 18px;
      position: absolute;
      margin-left: 24px;
      @media @smartphones {
        display: none;
      }
    }
  }
}
 main {
   background-color: #F1F5F8;
   .container {
     @media @smartphones {
       width: 100vw;
       padding-top: 35px;
     }
     width: 1000px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 60px;
     padding-bottom: 36px;
     .title {
       @media @smartphones {
         margin-left: @spaces;
         font-size: 6vw;
       }
       font-size: 30px;
       color: #373737;
       font-family: ProximaNova-Bold;
       padding-bottom: 36px;
     }
     .card {
       @media @smartphones {
         padding: @spaces;
       }
       background-color: #ffffff;
       padding: 50px;
       overflow: auto;
       margin-bottom: 19px;
       .firstRow {
         @media @smartphones {
           margin-bottom: @spaces;
         }
         margin-bottom: 30px;

         .firstCol {
           @media @smartphones {
             width: 100%;
             float: none;
           }
           width: 77%;
           font-size: 15pt;
           color: #373737;
           font-family: ProximaNova-Regular;
           float: left;
         }
         .secondCol {
           text-align: right;
           font-size: 11pt;
           margin-right: @spaces;
           color: #373737;
           font-family: ProximaNova-Regular;
           .stars {
             float: left;
             color: #59D8D1;
           }
           @media @smartphones {
             display: none;
           }
         }
       }

       .secondRow {
         overflow: auto;
         margin-bottom: 25px;
         .firstCol {
           @media @smartphones {
             width: 100%;
           }
           width: 31.33%;
           float: left;

           .cc {
             float: left;
             width: 62%;
           }

           .content {
             text-align: center;
             font-family: ProximaNova-Regular;
             font-size: 15px;
             button {
               margin-top: @spaces;
               .border-radius(20px);
               background-color: #59D8D1;
               color: #ffffff;
               font-family: ProximaNova-Bold;
               font-size: 14px;
               border: none;
               width: 100px;
               padding: 10px;
               @media @smartphones {
                 display: block;
               }
             }
           }
         }
         .secondCol {
           @media @smartphones {
             width: 100%;
             ul {
               padding-left: 0px;
             }
           }
           float: left;
           width: 68%;
           font-family: ProximaNova-Regular;
           li {
             margin: @spaces;
             margin-right: 0px;
             font-size: 13pt;
           }
         }
       }

       hr {
         float: none;
       }
     }
   }
 }
 a {
   color: #1194F6;
   text-decoration: none;
   font-family: ProximaNova-Regular;
 }